sevntu-checkstyle-with-excludes/xref/nus/sem6/contribution/checkstyle-tester/repositories/sevntu-checkstyle-with-excludes/sevntu-checks/src/main/java/com/github/sevntu/checkstyle/checks/coding/AvoidDefaultSerializableInInnerClassesCheck.java.html
